<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1{margin-top:5%;}
</style>
<h1>Editing Lessee Request</h1>

<%= render 'form', lessee_request: @lessee_request %>
