<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
div
{
text-align:left;
}
</style>
<h1>New Lessee Request</h1>

<%= render 'form', lessee_request: @lessee_request %>

<div><%= link_to '  Back', my_lessee_path, class:'fa fa-arrow-left'  %></div>

