<h1>New Lessor Request</h1>

<input name="property_id" type="hidden" value="<%= params[:property_id] %>" />
<%= render 'form', lessor_request: @lessor_request %>

<%= link_to 'Back', lessor_requests_path %>
