<p id="notice"><%= notice %></p>

<h1>Group recommendation</h1>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Group</th>
    <th>Group Member</th>
    <th>Invite/Accept</th>
  </tr>
  </thead>

  <tbody>
  <% @group_info.each do |info| %>
    <tr>
      <td><%= info[:group].id%></td>
      <td>
        <% info[:group].users.each do |user| %>
         <span> <%= user.id %> </span>
        <% end %>
      </td>
      <td>
        <% if info[:invitation].nil? %>
          <span><a href="#">send merge request</a></span>
        <% else %>
          <span><a href="#">accept merge request</a></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


